<h1>Clues</h1>
<hr />
<div class="row">
<div class="col-md-10 col-md-offset-1">
<section class="panel panel-default">
<table class="table table-hover table-striped">
<thead class="table-headers">
<tr>
<th colspan="5"><h3>Clues</h3></th>
</tr>
<tr>
<th>Category</th>
<th>Question</th>
<th>Answer</th>
<th>Delete</th>
<th>Edit</th>
</tr>
</thead>
<tbody>
{{#each clue in arrangedContent}}
  <tr>
    <td>{{clue.category}}</td>
    <td>{{clue.question}}</td>
    <td>{{clue.answer}}</td>
    <td>{{#link-to 'clues.delete' clue }}<i class="fa fa-trash fa-2x"></i>{{/link-to}}</td> 
    <td>{{#link-to 'clues.edit' clue }}<i class="fa fa-edit fa-2x"></i>{{/link-to}}</td> 
  </tr>
{{/each}}
<tfoot class="table-footer">
<tr>
<td colspan="5">
<p>This is where you would normally add pager buttons, page information, page counts, and record counts.  But without knowing enough information, it can get very awkward</p>
</td>
</tr>
</tfoot>
</tbody>
</table>
</section>
</div>
</div>
{{outlet}}
