{{#trivia-gameboard}}

  <div class="triviarow">
    <div class="category category-1">Category</div>
    <div class="category category-2">Category</div>
    <div class="category category-3">Category</div>
    <div class="category category-4">Category</div>
    <div class="category category-5">Category</div>
  </div>

  <div class="triviarow">
    <div class="category-1 clue clue-1">Clue</div>
    <div class="category-2 clue clue-1">Clue</div>
    <div class="category-3 clue clue-1">Clue</div>
    <div class="category-4 clue clue-1">Clue</div>
    <div class="category-5 clue clue-1">Clue</div>
  </div>

  <div class="triviarow">
    <div class="category-1 clue clue-2">Clue</div>
    <div class="category-2 clue clue-2">Clue</div>
    <div class="category-3 clue clue-2">Clue</div>
    <div class="category-4 clue clue-2">Clue</div>
    <div class="category-5 clue clue-2">Clue</div>
  </div>

  <div class="triviarow">
    <div class="category-1 clue clue-3">Clue</div>
    <div class="category-2 clue clue-3">Clue</div>
    <div class="category-3 clue clue-3">Clue</div>
    <div class="category-4 clue clue-3">Clue</div>
    <div class="category-5 clue clue-3">Clue</div>
  </div>

  <div class="triviarow">
    <div class="category-1 clue clue-4">Clue</div>
    <div class="category-2 clue clue-4">Clue</div>
    <div class="category-3 clue clue-4">Clue</div>
    <div class="category-4 clue clue-4">Clue</div>
    <div class="category-5 clue clue-4">Clue</div>
  </div>

  <div class="triviarow">
    <div class="category-1 clue clue-5">Clue</div>
    <div class="category-2 clue clue-5">Clue</div>
    <div class="category-3 clue clue-5">Clue</div>
    <div class="category-4 clue clue-5">Clue</div>
    <div class="category-5 clue clue-5">Clue</div>
  </div>
{{/trivia-gameboard}}
