<div class="welcome-text">
  <h2>December 13, 2014 </h2>
  <h3> 6 - 10 PM</h3>
  <p>Come one, come all.  The TTMS Holiday Party has descended upon us! Be warned, those who have been naughty will surely pay the price. Those who haven't will pay even more!</p>
</div>
